.cart-item {
  display:flex;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.cart-item__image {
  margin: 10px;
}
.product_info{
  display:flex;
  width: 100%;
  margin: 10px;
}
.product-name {
  margin:0;
}
.product-desc {
  margin: 0;
}
.product-price {

}
.about-product {

}
.product-order-details {

}
